li{
    list-style-type: none;
    text-align: center;
    color: lightgray;
}

.discs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1E2D3B;
}

.disc-container{
    
    margin: 10px;
    background-color: #2E3A46;
}

.poster{
    height: 300px;
}
